ul {
  list-style-type: none;
  margin: 0;
  padding: auto;
  overflow: hidden;
  background-color: rgba(61,57,53,255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
}

li {
  display: inline-block;
  float: left;
  width: calc(100% / 6);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: auto;
  text-decoration: none;
  height: 50px;
  margin-top: 20px;
  
}

.navbar{
  z-index: 5;
  background-color: #312b2b !important;
  font-family: 'reggae', fantasy; 
}

li a:hover:not(.active) {
  background-color: grey;
  height: 50px;
  
}

li a:active {
  background-color: grey;
}

body {
  background: linear-gradient(360deg, #000, #312b2b);
  background: linear-gradient(to right,red, yellow, green) !important;
  background-blend-mode: multiply !important;
  padding-top: 80px; 
  /*filter: blur(10px);*/
}

h1 {
font-family: 'reggae', fantasy;
word-spacing: -20px;
color: rgb(0, 0, 0) !important;
color: red
}

h5 {
  margin-top: -20px;
}

@font-face {
font-family: 'reggae';
src: url(fonts/reggae.ttf);
}

h3 {
  text-align: center;
  margin: auto;
  width: 50%;
  margin-top: 50px;
  font-size: 25px;
}

div {
text-align:right;
margin-top: 15px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #312b2b;
}

.contactform {
  border-radius: 5px;
  background: linear-gradient(315deg, rgb(88, 0, 0), rgb(71, 71, 0), rgb(0, 17, 0));
  background-blend-mode: multiply;
  padding: 20px;
  margin-bottom: 100px;
}
.form {
text-align: left;
}
footer {
  background-color: #121110;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#View1 {
  text-align: center;
  margin-top: 1000px;
}

#View2 {
  text-align: center;
  margin-top: 900px;
}
 
#viewsection {
text-align: center;
}

.products .box-container
{
 border: 0px solid;
 display: flex;
 grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.products .box-container .box
{
  padding: 3rem 0;
  background-color: rgba(61,57,53,255);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  outline-offset: -1rem;
  margin-right: 75px;
  margin-left: 5px;
  margin-bottom: 100px;

}

.products .box-container .box:hover
{
  box-shadow: 1px 2px 10px 4px var(--grey);
}

.products .box-container .box img
{
 aspect-ratio: 16/12;
 width: 20vw;
 height: 25vw;
 
}

.products .box-container .box h3
{
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: -20px;
  margin-top: 20px;
}

.products .box-container .box a
{
  margin-right: 60px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  border: none; 
  border-radius: 25px;
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  display: inline-block;
}
 
.button
{
    color: rgb(0, 0, 0); 
    border-radius: 25px;
    background-color: rgb(255,253,255);
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
}

.button a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

.button a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}


.logo {
  float: left;
  width: 10vw;
  height: 100%;
}

#TheSunset
{
  height: 600px;
  width: 100%;
}

.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}




.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
}
.about-us2 p
{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
}

.column {
  float: left;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.ceoimage
{
width: 30vw;
height: 30vw;
margin-right: 450px;
}

.containerb {
  padding: 0 16px;
  text-align: center;
}

.containerb::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.titled {
  color: grey;
}

.navbar a{
  margin-top: 0 !important;
  padding-top: 20px !important ;
}
.buttond {
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  border: solid;
}

.buttond:hover {
  background-color: rgba(255, 255, 255, 0.781);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.ceosection
{
  margin-top: -250px;
  margin-right: 20px;
}
.html
{
  font-family: 'reggae', fantasy; 
}

.space
{
  margin-top: 20px;
}

.productbody
{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5;
  flex-direction: row;
}

 @keyframes slide-in{
  100%{
    opacity: 1;
    left: 50%;
  }
 }

.producte
{
  position: relative;
  width: 1000px;
  min-width: 350px;
  min-height: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.product-img
{
  width: 40%;
  height: 500px;
  
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in 1s forwards 1;

}

.product-img img
{
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.product-listing
{
  width: fit-content;
  min-height: 500px;
  height: auto;
  background: #312b2b;
  padding: 40px;
  display: flex;
  justify-content: space-evenlys;
  color:rgba(255, 255, 255, 0.781);
  /*animation: slide-in 1s to right 1;*/
  transform: scale(0.7);
}

@keyframes slide-in{
  100%{
    opacity: 1;
    transform: translateY(3);

  }
}

.name
{
  font-size: 70px;
  text-transform: capitalize;
  color:#ffffff !important;
  
}

.info{
  font-size: 18px;
  line-height: 30px;
  margin: 50px 0;
  
}

.price{
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}

.pbutton-box
{
  width: 100%;
  display: flex;
  justify-content: right;
}

.pbutton{
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: #312b2b;
  text-transform: capitalize;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;

}

.pbutton:hover{
  background-color: azure;
}

@media (max-width: 1100px){
  body::before{
    transform: translateX(-50%) skewX(-5deg);
  }
  .product{
    flex-direction: column;
    width: 90%;
    margin: 5vh 0;
  }
  .product-img{
    width: 100%;
    height: 300px;
  }
  .product-listing{
    width: 100%;
    min-height: auto;
  }
  .name, .price{
    font-size: 50px;
  }
  .info{
    font: 16px
  }
}

.label{
  padding-right: 25px;
}

.Contactlabel
{
  color: #ffffff;
}

.productsimg
{
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
}

.spaces
{
  margin-bottom: 100px;
}

.sheam
{
  margin-right: 525px;
  border: solid;
  color: rgb(0, 0, 0); 
  border-radius: 25px;
  background-color: rgb(255,253,255);
  padding: 15px 32px;
  display: inline-block;
  cursor: pointer;
}

.spaced
{
  margin-bottom: 1000px;
}

a{
  text-decoration: none !important;
}

.how iframe
{
  padding-right: 20vw;
}